<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VirtualTourist2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>884CB4FB1CEE3C2300E1F96D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>884CB50F1CEE3C2300E1F96D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>884CB51A1CEE3C2300E1F96D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
